@page
@model GestionBiblioteca.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.PrimerNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.PrimerNombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.SegundoNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.SegundoNombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.PrimerApellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.PrimerApellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.SegundoApellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.SegundoApellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Ci)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Ci)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Correo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Correo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Contrasenia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Contrasenia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Rol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Rol)
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Usuario.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
