@page
@model GestionBiblioteca.Pages.Usuario.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].PrimerNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].SegundoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].PrimerApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].SegundoApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].Ci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Usuario) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrimerNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimerApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
